<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"><fa-icon [icon]="faDumbbell"></fa-icon> FitHouse <fa-icon [icon]="faDumbbell"></fa-icon></a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
      
        <li routerLinkActive="active"><a routerLink="/articole" data-toggle="tooltip" data-placement="top" title="Articole"><fa-icon [icon]="faNewspaper"></fa-icon> </a></li>
        <li routerLinkActive="active"><a routerLink="/echipa" data-toggle="tooltip" data-placement="top" title="Echipa"><fa-icon [icon]="faUsers"></fa-icon> </a></li>
        <li routerLinkActive="active" *ngIf=this.x><a routerLink="/clienti" data-toggle="tooltip" data-placement="top" title="Listă clienți"><fa-icon [icon]="faUserFriends"></fa-icon> </a></li>
        <li routerLinkActive="active"><a routerLink="/calculator" data-toggle="tooltip" data-placement="top" title="Calculator"><fa-icon [icon]="faCalculator"></fa-icon> </a></li>
        <li routerLinkActive="active"><a routerLink="/tarife" data-toggle="tooltip" data-placement="top" title="Tarife"><fa-icon [icon]="faDollarSign"></fa-icon></a></li>
        <li routerLinkActive="active"><a routerLink="/galerie" data-toggle="tooltip" data-placement="top" title="Galerie foto"><fa-icon [icon]="faImages"></fa-icon> </a></li>
        <li routerLinkActive="active"><a routerLink="/orar" data-toggle="tooltip" data-placement="top" title="Orar"><fa-icon [icon]="faCalendarAlt"></fa-icon> </a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

        <li routerLinkActive="active" *ngIf="isAuthenticated">

          <li class="dropdown" appDropdown *ngIf="isAuthenticated">
            <a style="cursor: pointer;" class="dropdown-toggle" role="button" data-toggle="tooltip" data-placement="top" title="Contul meu"><fa-icon [icon]="faUserCircle"></fa-icon> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a style="cursor: pointer;" routerLink="/date-personale">Date personale</a></li>
              <li><a style="cursor: pointer;" routerLink="/antrenor">Antrenor</a></li> 
              <li><a style="cursor: pointer;" routerLink="/abonament">Abonament</a></li> 
            </ul>
          </li>

        <li routerLinkActive="active" *ngIf="!isAuthenticated">
          <a style="cursor: pointer;" routerLink="/auth"  class="dropdown-toggle" role="button" data-toggle="tooltip" data-placement="top" title="Autentificare"><i class="fa fa-fw fa-user"></i></a>
        </li>

        <li *ngIf="isAuthenticated">
          <a style="cursor: pointer;" (click)="onLogout()" data-toggle="tooltip" data-placement="top" title="Delogare"><fa-icon [icon]="faSignOutAlt"></fa-icon> </a>
        </li>
       
      <!--  <li class="dropdown" appDropdown *ngIf="isAuthenticated">
          <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;" (click)="onSaveData()">Save Data</a></li>
            <li><a style="cursor: pointer;" (click)="onFetchData()">Fetch Data</a></li> 
          </ul>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
