<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="col-6 col-md-4">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h1 class="panel-title" align="center">
       Dată început abonament
      </h1>
    </div>
    <div class="panel-body" align="center">
      <h2> {{this.dateStartFinal}}</h2>
     
    </div>
  </div>
</div>
<div class="col-6 col-md-4">
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h1 class="panel-title" align="center">
      Dată expirare abonament
      </h1>
    </div>
    <div class="panel-body" align="center">
      <h2> {{this.add30Days()}}</h2>
     
    </div>
  </div>
</div>
<div class="col-8 col-md-8">
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h1 class="panel-title" align="center">
       {{this.titlu}}
      </h1>
    </div>
    <div class="panel-body" align="center">
      <h2> {{this.text}} {{this.remainsDays}}  zile!</h2>
    </div>
  </div>
</div>