
<div class="card mb-3 table-bordered" style="max-width: 1000px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="../assets/antrenor.jpg"  width="200" height="200">

    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title"><i><b>DE CE AI NEVOIE DE UN ANTRENOR PERSONAL?</b></i></h3>
        <p class="card-text">Pentru ca exercitiile sa fie eficiente si sa te bucuri de rezultate, ai nevoie de un plan bine stabilit si de un program alimentar adecvat. Fiecare persoana este unica, de aceea avem nevoi diferite in antrenamentul de fitness. In functie de obiectivele tale, pregatirea fizica si rezistenta la efort, antrenamentul si nutritia trebuie individualizate de catre antrenorul personal, singurul care poate stabili acest lucru si care iti va arata tehnica corecta de executie pentru a evita accidentarile, exercitile inutile sau deformarile osoase.</p>
      </div>
    </div>
  </div>
</div>
<br>

<div class="card mb-3 table-bordered" style="max-width: 1000px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="../assets/musculatura.jpg"  width="200" height="200">

    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title"><i><b>CE GRUPE MUSCULARE SA LUCREZ?</b></i></h3>
        <p class="card-text">Pentru ca exercitiile sa fie eficiente si sa te bucuri de rezultate, ai nevoie de un plan bine stabilit si de un program alimentar adecvat. Fiecare persoana este unica, de aceea avem nevoi diferite in antrenamentul de fitness. In functie de obiectivele tale, pregatirea fizica si rezistenta la efort, antrenamentul si nutritia trebuie individualizate de catre antrenorul personal, singurul care poate stabili acest lucru si care iti va arata tehnica corecta de executie pentru a evita accidentarile, exercitile inutile sau deformarile osoase.</p>
      </div>
    </div>
  </div>
</div>
<br>

<div class="card mb-3 table-bordered" style="max-width: 1000px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="../assets/health.jpg"  width="200" height="200">

    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title"><i><b>CE/CAT SA MANANC?</b></i></h3>
        <p class="card-text">Pentru ca exercitiile sa fie eficiente si sa te bucuri de rezultate, ai nevoie de un plan bine stabilit si de un program alimentar adecvat. Fiecare persoana este unica, de aceea avem nevoi diferite in antrenamentul de fitness. In functie de obiectivele tale, pregatirea fizica si rezistenta la efort, antrenamentul si nutritia trebuie individualizate de catre antrenorul personal, singurul care poate stabili acest lucru si care iti va arata tehnica corecta de executie pentru a evita accidentarile, exercitile inutile sau deformarile osoase.</p>
      
      </div>
    </div>
  </div>
</div>
<br>

<div class="card mb-3 table-bordered" style="max-width: 1000px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="../assets/dulciuri-interzise.jpg"  width="200" height="200">

    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title"><i><b>POT CONSUMA DULCIURI?</b></i></h3>
        <p class="card-text">Pentru ca exercitiile sa fie eficiente si sa te bucuri de rezultate, ai nevoie de un plan bine stabilit si de un program alimentar adecvat. Fiecare persoana este unica, de aceea avem nevoi diferite in antrenamentul de fitness. In functie de obiectivele tale, pregatirea fizica si rezistenta la efort, antrenamentul si nutritia trebuie individualizate de catre antrenorul personal, singurul care poate stabili acest lucru si care iti va arata tehnica corecta de executie pentru a evita accidentarile, exercitile inutile sau deformarile osoase.</p>
      </div>
    </div>
  </div>
</div>
<br>

<div class="card mb-3 table-bordered" style="max-width: 1000px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="../assets/echipament.jpg"  width="200" height="200">

    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title"><i><b>CONTEAZA ECHIPAMENTUL?</b></i></h3>
        <p class="card-text">Pentru ca exercitiile sa fie eficiente si sa te bucuri de rezultate, ai nevoie de un plan bine stabilit si de un program alimentar adecvat. Fiecare persoana este unica, de aceea avem nevoi diferite in antrenamentul de fitness. In functie de obiectivele tale, pregatirea fizica si rezistenta la efort, antrenamentul si nutritia trebuie individualizate de catre antrenorul personal, singurul care poate stabili acest lucru si care iti va arata tehnica corecta de executie pentru a evita accidentarile, exercitile inutile sau deformarile osoase.</p>
      </div>
    </div>
  </div>
</div>
<br>

<div class="card mb-3 table-bordered" style="max-width: 1000px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="../assets/hidratarea.jpg"  width="200" height="200">

    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title"><i><b>CUM TREBUIE SA MA HIDRATEZ?</b></i></h3>
        <p class="card-text">Pentru ca exercitiile sa fie eficiente si sa te bucuri de rezultate, ai nevoie de un plan bine stabilit si de un program alimentar adecvat. Fiecare persoana este unica, de aceea avem nevoi diferite in antrenamentul de fitness. In functie de obiectivele tale, pregatirea fizica si rezistenta la efort, antrenamentul si nutritia trebuie individualizate de catre antrenorul personal, singurul care poate stabili acest lucru si care iti va arata tehnica corecta de executie pentru a evita accidentarile, exercitile inutile sau deformarile osoase.</p>
      </div>
    </div>
  </div>
</div>
<br>

<div class="card mb-3 table-bordered" style="max-width: 1000px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="../assets/odihn.jpg"  width="200" height="200">

    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title"><i><b>CATE ORE TREBUIE SA DORM?</b></i></h3>
        <p class="card-text">Pentru ca exercitiile sa fie eficiente si sa te bucuri de rezultate, ai nevoie de un plan bine stabilit si de un program alimentar adecvat. Fiecare persoana este unica, de aceea avem nevoi diferite in antrenamentul de fitness. In functie de obiectivele tale, pregatirea fizica si rezistenta la efort, antrenamentul si nutritia trebuie individualizate de catre antrenorul personal, singurul care poate stabili acest lucru si care iti va arata tehnica corecta de executie pentru a evita accidentarile, exercitile inutile sau deformarile osoase.</p>
      </div>
    </div>
  </div>
</div>
<br>

<div class="card mb-3 table-bordered" style="max-width: 1000px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="../assets/pozitie.jpg"  width="200" height="200">

    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title"><i><b>CONTEAZA POZITIA EXERCITIILOR?</b></i></h3>
        <p class="card-text">Pentru ca exercitiile sa fie eficiente si sa te bucuri de rezultate, ai nevoie de un plan bine stabilit si de un program alimentar adecvat. Fiecare persoana este unica, de aceea avem nevoi diferite in antrenamentul de fitness. In functie de obiectivele tale, pregatirea fizica si rezistenta la efort, antrenamentul si nutritia trebuie individualizate de catre antrenorul personal, singurul care poate stabili acest lucru si care iti va arata tehnica corecta de executie pentru a evita accidentarile, exercitile inutile sau deformarile osoase.</p>
      </div>
    </div>
  </div>
</div>
<br>

<div class="card mb-3 table-bordered" style="max-width: 1000px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="../assets/pr.jpg"  width="200" height="200">

    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title"><i><b>CARE ESTE ROLUL PROTEINELOR?</b></i></h3>
        <p class="card-text">Pentru ca exercitiile sa fie eficiente si sa te bucuri de rezultate, ai nevoie de un plan bine stabilit si de un program alimentar adecvat. Fiecare persoana este unica, de aceea avem nevoi diferite in antrenamentul de fitness. In functie de obiectivele tale, pregatirea fizica si rezistenta la efort, antrenamentul si nutritia trebuie individualizate de catre antrenorul personal, singurul care poate stabili acest lucru si care iti va arata tehnica corecta de executie pentru a evita accidentarile, exercitile inutile sau deformarile osoase.</p>
      </div>
    </div>
  </div>
</div>
<br>