
<div class="card mb-3 table-bordered" style="max-width: 1000px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="../assets/antrenor.jpg"  width="200" height="200">

    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title"><i><b>DE CE AI NEVOIE DE UN ANTRENOR PERSONAL?</b></i></h3>
        <p class="card-text">Pentru ca exercitiile sa fie eficiente si sa te bucuri de rezultate, ai nevoie de un plan bine stabilit si de un program alimentar adecvat. Fiecare persoana este unica, de aceea avem nevoi diferite in antrenamentul de fitness. In functie de obiectivele tale, pregatirea fizica si rezistenta la efort, antrenamentul si nutritia trebuie individualizate de catre antrenorul personal, singurul care poate stabili acest lucru si care iti va arata tehnica corecta de executie pentru a evita accidentarile, exercitile inutile sau deformarile osoase.</p>
      </div>
    </div>
  </div>
</div>
<br>

<div class="card mb-3 table-bordered" style="max-width: 1000px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="../assets/musculatura.jpg"  width="200" height="200">

    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title"><i><b>CE GRUPE MUSCULARE SA LUCREZ?</b></i></h3>
        <p class="card-text">Pentru o conditie fizica de invidiat si pentru un tonus bun este recomandat sa adopti un program de pregatire care sa cuprinda 2-3 antrenamente saptamanal. In schimb, daca iti doresti sa faci performanta va fi nevoie sa acorzi o mai mare atentie si, in aceeasi masura, timpul si rabdarea necesara. Un program bine pus la punct de 4-6 antrenamente poate fi solutia.</p>
      </div>
    </div>
  </div>
</div>
<br>

<div class="card mb-3 table-bordered" style="max-width: 1000px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="../assets/health.jpg"  width="200" height="200">

    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title"><i><b>CE/CAT SA MANANC?</b></i></h3>
        <p class="card-text">Cantitatea minima recomandata pentru oamenii sedentari este de 0,8g/kg corp, insemnand app 56g de proteine pentru o persoana de 70kg. MINIMUL este cantitatea necesara pentru a preveni deficientele.

          Daca esti o persoana activa sau executi antrenamente de orice fel sau urmezi un regim alimentar strict/sarac in carbohidrati, aceasta cantitate creste si ar trebui sa se situeze intre 1,4 si 2,0g/kg corp, adica intre 98 si 140g pentru o persoana de 70kg (in functie de gradul de activitate.)</p>
      
      </div>
    </div>
  </div>
</div>
<br>

<div class="card mb-3 table-bordered" style="max-width: 1000px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="../assets/dulciuri-interzise.jpg"  width="200" height="200">

    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title"><i><b>POT CONSUMA DULCIURI?</b></i></h3>
        <p class="card-text">Atunci cand ne gandim la o dieta de slabit, o asociem automat cu restrictii de mancare, in special pentru dulciuri si fast-food. Intr-adevar, este indicat sa renunti la ele, pentru ca pot incetini ritmul de slabire, insa exista anumite deserturi pe care le poti integra in dieta, pentru ca nu contin foarte multe calorii.</p>
      </div>
    </div>
  </div>
</div>
<br>

<div class="card mb-3 table-bordered" style="max-width: 1000px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="../assets/echipament.jpg"  width="200" height="200">

    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title"><i><b>CONTEAZA ECHIPAMENTUL?</b></i></h3>
        <p class="card-text">Să faci sport este foarte important atât pentru sănătatea ta generală, cât și pentru bunăstarea mintală. Dar știai că este esențial și ce porţi în timp ce faci sport? Hainele pe care le folosești la antrenamente sau la sală pot avea un impact destul de mare asupra felului în care te simţi în timp ce faci mişcare dar şi după. Pe lângă faptul că echipamentul potrivit te va ajuta să intri în starea de spirit potrivită pentru a profita din plin de o sesiune de sport, acesta oferă și o serie de alte beneficii. Pentru a-ţi da singură seama de importanța alegerii unui echipament sportiv de bună calitate, îţi împărtășim câteva dintre avantajele purtării unor haine şi încălţări adecvate.
          Citeşte întreaga ştire: De ce este important să ai un echipament de calitate atunci când faci sport</p>
      </div>
    </div>
  </div>
</div>
<br>

<div class="card mb-3 table-bordered" style="max-width: 1000px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="../assets/hidratarea.jpg"  width="300" height="200">

    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title"><i><b>CUM TREBUIE SA MA HIDRATEZ?</b></i></h3>
        <p class="card-text">1. Bea un pahar de apa, ceai sau suc natural in fiecare dimineata. <br>

          2. Bea portii mici pe tot parcursul zilei, in loc sa incerci sa bei cantitati mari deodata. În asa fel nici nu vei simti nevoia sa mergi des la baie. <br>
          
          3. Bea mai multa apa daca ai probleme cu constipatia - organismul are nevoie de echilibru in aportul de fibre obtinute din fructe, legume si cereale.<br>
          
          4. Lichidele sunt mai usor absorbite de organism atunci când sunt mai reci. Pune o sticla de 0,5L sau 1L de apa in frigider si asigura-te ca o bei si reumpli zilnic.<br>
          
          5. Nu refuza un pahar de apa atunci când ti se ofera, chiar daca nu il bei pe tot.<br>
          
          6. Foloseste culoarea urinei ca ghid pentru cât esti de hidratat. Daca aceasta are culoarea galben deschis, inseamna ca bei suficienta apa. Daca urina are culoarea galben inchis, creste aportul de lichide.<br>
          
          7. Ţine cu tine mereu o sticla de apa si beti regulat, intre mese.<br>
          
          8. Daca iei medicamente, este recomandat sa bei mai multa apa. Rinichii si ficatul au nevoie de mai multa apa pentru procesarea medicamentelor.<br>
          
          9. Când faceti exercitii fizice, beti 1-2 cani de apa inainte de antrenament si jumatate de cana-o cana la fiecare 15 minute in timpul acestuia.<br>
          
          10. Bea apa chiar daca nu iti este sete. Setea este un semn ca organismul tau este deja deshidratat. Este bine sa bei regulat pe tot parcursul zilei - in timp o sa te obisnuiesti.<br>
          
          </p>
      </div>
    </div>
  </div>
</div>
<br>

<div class="card mb-3 table-bordered" style="max-width: 1000px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="../assets/odihn.jpg"  width="250" height="200">

    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title"><i><b>CATE ORE TREBUIE SA DORM?</b></i></h3>
        <p class="card-text">De câte ore de somn avem nevoie pe zi?<br>
          Conform informațiilor revizuite și republicate de National Sleep Foundation, durata minimă a somnului zilnic trebuie să fie de 7 ore. Iată numărul de ore pe categorii de vârstă:<br>
          <br>
          Nou-născuți (0-3 luni): 14-17 ore/zi (anterior 12-18)<br>
          Sugari (4-11 luni): 12-15 ore (anterioar 14-15)<br>
          Copii mici (1-2 ani): 11-14 ore (anterior 12-14)<br>
          Preșcolari (3-5 ani): 10-13 ore (anterior 11-13)<br>
          Școlari (6-13 ani):  9-11 ore (anterior 10-11)<br>
          Adolescenți (14-17): 8-10 ore (anterior 8,5-9,5)<br>
          Tineri (18-25): 7-9 ore (categorie nou introdusă în studii)<br>
          Adulți (26-64): 7-9 ore<br>
          Vârstnici (65+): 7-8 ore (categorie nou introdusă)</p>
      </div>
    </div>
  </div>
</div>
<br>

<div class="card mb-3 table-bordered" style="max-width: 1000px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="../assets/pozitie.jpg"  width="250" height="200">

    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title"><i><b>CONTEAZA POZITIA EXERCITIILOR?</b></i></h3>
        <p class="card-text">Un corp armonios si sanatos este dorinta fiecarei persoane. Indiferent de motivul pentru care mergeti la sala (scadere in greutate, tonifiere sau eliberarea stresului de peste zi), este bine sa va organizati temeinic pentru a putea beneficia de toate avantajele pe care le ofera o activitate fizica.

          Prima si cea mai importanta regula este alegerea corecta a tipului de antrenament. Rata de abandon in randul celor care merg la sala este mai crescuta printre persoanelor care si-au ales gresit tipul de activitate fizica.
          
          In acest context, optati pentru un tip de exercitiu (sau mai multe) care va face placere si care poate fi facut gradat (de la intensitate mica spre cea medie si mare).</p>
      </div>
    </div>
  </div>
</div>
<br>

<div class="card mb-3 table-bordered" style="max-width: 1000px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="../assets/pr.jpg"  width="252" height="200">

    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title"><i><b>CARE ESTE ROLUL PROTEINELOR?</b></i></h3>
        <p class="card-text">Proteinele sunt macronutrienti care, alaturi de grasimi si carbohidrati, furnizeaza organismului necesarul de energie si calorii, insa rolul lor este mult mai complex de atat. Din punct de vedere chimic, ele sunt alcatuite din lanturi sau polimeri de aminoacizi, care sunt compusi organici din carbon, hidrogen, azot, oxigen si sulf. In organismul uman se regasesc aproximativ 20.000 de proteine unice. Desi in natura exista sute de aminoacizi, numai 20 dintre ei sunt necesari pentru crearea tuturor proteinelor din corpul nostru sau al altor forme de viata. Este de mentionat ca o proteina tipica poate fi formata din aproximativ 300 de aminoacizi si ca numarul acestora sau al secventelor pe care ei le formeaza sunt unice pentru fiecare proteina.</p>
      </div>
    </div>
  </div>
</div>
<br>