<div class="container-fluid">
  <div id="faq" role="tablist" aria-multiselectable="true">
    <div class="panel panel-info">
      <div class="panel-heading" role="tab" id="questionOne">
        <h2 class="panel-title">
          <a data-toggle="collapse" data-parent="#faq" href="#answerOne" aria-expanded="true" aria-controls="answerOne">
            <fa-icon [icon]="faDumbbell"></fa-icon> CE GRUPE MUSCULARE SĂ LUCREZ?
          </a>
        </h2>
      </div>
      <div id="answerOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="questionOne" aria-expanded="true">
        <div class="panel-body">
          <div class="col-md-4">
            <img src="../assets/musculatura.jpg" width="200" height="200">
          </div>
          <div class="col-md-8">
            <div class="card-body">

              <h3 class="card-text">Pentru o condiție fizică de invidiat și pentru un tonus bun este recomandat să
                adopți
                un
                program de pregătire care să cuprindă 2-3 antrenamente săptămânal. În schimb, dacă îți dorești să faci
                performanță va fi nevoie să acorzi o mai mare atenție și în aceeași măsură, timpul și răbdarea
                necesară. Un
                program bine pus la punct de 4-6 antrenamente poate fi soluția.</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="container-fluid">


  <div id="faqTwo" role="tablist" aria-multiselectable="true">

    <div class="panel panel-danger">
      <div class="panel-heading" role="tab" id="questionTwo">
        <h2 class="panel-title">
          <a data-toggle="collapse" data-parent="#faqTwo" href="#answerTwo" aria-expanded="false"
            aria-controls="answerTwo">
            <fa-icon [icon]="faHandsHelping"></fa-icon> DE CE AI NEVOIE DE UN ANTRENOR PERSONAL?
          </a>
        </h2>
      </div>
      <div id="answerTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="questionTwo">
        <div class="panel-body">
          <div class="col-md-4">
            <img src="../assets/antrenor.jpg" width="200" height="200">

          </div>
          <div class="col-md-8">
            <div class="card-body">

              <h3 class="card-text">Pentru ca exercițiile să fie eficiente și să te bucuri de rezultate, ai nevoie
                de
                un
                plan bine stabilit și de un program alimentar adecvat. Fiecare persoană este unică, de aceea avem
                nevoi
                diferite în antrenamentul de fitness. În funcție de obiectivele tale, pregătirea fizică și
                rezistența
                la
                efort, antrenamentul și nutriția trebuie individualizate de către antrenorul personal, singurul care
                poate stabili acest lucru și care îți va arăta tehnica corectă de execuție pentru a evita
                accidentările, exercițile inutile sau deformările osoase.</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid"></div>


  <div id="faq" role="tablist" aria-multiselectable="true">

    <div class="panel panel-info">
      <div class="panel-heading" role="tab" id="questionThree">
        <h2 class="panel-title">
          <a data-toggle="collapse" data-parent="#faq" href="#answerThree" aria-expanded="false"
            aria-controls="answerThree">
            <fa-icon [icon]="faUtensils"></fa-icon> CE/CÂT SĂ MĂNÂNC?
          </a>
        </h2>
      </div>
      <div id="answerThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="questionOne">
        <div class="panel-body">
          <div class="col-md-4">
            <img src="../assets/health.jpg" width="200" height="200">

          </div>
          <div class="col-md-8">
            <div class="card-body">

              <h3 class="card-text">Cantitatea minimă recomandată pentru oamenii sedentari este de 0,8g/kg corp,
                însemnand aproximativ
                56g de proteine pentru o persoană de 70kg. Minimul este cantitatea necesară pentru a preveni
                deficiențele.

                Dacă ești o persoană activă sau execuți antrenamente de orice fel sau urmezi un regim alimentar
                strict/sărac
                în carbohidrați, această cantitate crește și ar trebui să se situeze între 1,4 și 2,0g/kg corp,
                adică
                între 98
                și 140g pentru o persoană de 70kg (în funcție de gradul de activitate.)</h3>
            </div>
          </div>
        </div>
      </div>
    </div>





    <div class="container-fluid"></div>


    <div id="faq" role="tablist" aria-multiselectable="true">

      <div class="panel panel-danger">
        <div class="panel-heading" role="tab" id="questionFour">
          <h2 class="panel-title">
            <a data-toggle="collapse" data-parent="#faq" href="#answerFour" aria-expanded="false"
              aria-controls="answerFour">
              <fa-icon [icon]="faBirthdayCake"></fa-icon> POT CONSUMA DULCIURI?
            </a>
          </h2>
        </div>
        <div id="answerFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="questionOne">
          <div class="panel-body">
            <div class="col-md-4">
              <img src="../assets/dulciuri-interzise.jpg" width="200" height="200">

            </div>
            <div class="col-md-8">
              <div class="card-body">

                <h3 class="card-text">Atunci când ne gândim la o dietă de slăbit, o asociem automat cu restricții de
                  mâncare, în
                  special pentru dulciuri și fast-food. Într-adevăr, este indicat să renunți la ele, pentru că pot
                  încetini
                  ritmul de slăbire, însa există anumite deserturi pe care le poți integra în dietă, pentru că nu
                  conțin
                  foarte
                  multe calorii.</h3>
              </div>
            </div>
          </div>
        </div>
      </div>




      <div class="container-fluid"></div>


      <div id="faq" role="tablist" aria-multiselectable="true">

        <div class="panel panel-info">
          <div class="panel-heading" role="tab" id="questionFive">
            <h2 class="panel-title">
              <a data-toggle="collapse" data-parent="#faq" href="#answerFive" aria-expanded="false"
                aria-controls="answerFive">
                <fa-icon [icon]="faTshirt"></fa-icon> CONTEAZĂ ECHIPAMENTUL?
              </a>
            </h2>
          </div>
          <div id="answerFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="questionOne">
            <div class="panel-body">
              <div class="col-md-4">
                <img src="../assets/echipament.jpg" width="200" height="200">

              </div>
              <div class="col-md-8">
                <div class="card-body">

                  <h3 class="card-text">Să faci sport este foarte important atât pentru sănătatea ta generală, cât
                    și pentru
                    bunăstarea mintală. Dar știai că este esențial și ce porţi în timp ce faci sport? Hainele pe
                    care le
                    folosești
                    la antrenamente sau la sală pot avea un impact destul de mare asupra felului în care te simţi în
                    timp ce
                    faci
                    mişcare dar şi după. Pe lângă faptul că echipamentul potrivit te va ajuta să intri în starea de
                    spirit
                    potrivită pentru a profita din plin de o sesiune de sport, acesta oferă și o serie de alte
                    beneficii.
                    Pentru
                    a-ţi da singură seama de importanța alegerii unui echipament sportiv de bună calitate, îţi
                    împărtășim
                    câteva
                    dintre avantajele purtării unor haine şi încălţări adecvate.</h3>
                </div>
              </div>
            </div>
          </div>
        </div>



        <div class="container-fluid"></div>


        <div id="faq" role="tablist" aria-multiselectable="true">

          <div class="panel panel-danger">
            <div class="panel-heading" role="tab" id="questionSix">
              <h2 class="panel-title">
                <a data-toggle="collapse" data-parent="#faq" href="#answerSix" aria-expanded="false"
                  aria-controls="answerSix">
                  <fa-icon [icon]="faPrescriptionBottle"></fa-icon> CUM TREBUIE SĂ MĂ HIDRATEZ?
                </a>
              </h2>
            </div>
            <div id="answerSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="questionOne">
              <div class="panel-body">
                <div class="col-md-4">
                  <img src="../assets/hidratarea.jpg" width="300" height="200">

                </div>
                <div class="col-md-8">
                  <div class="card-body">

                    <h3 class="card-text">1. Bea un pahar de apă, ceai sau suc natural în fiecare dimineață. <br>

                      2. Bea porții mici pe tot parcursul zilei, în loc să încerci să bei cantități mari deodată. În
                      așa fel
                      nici nu
                      vei simți nevoia să mergi des la baie. <br>

                      3. Bea mai multă apă dacă ai probleme cu constipația - organismul are nevoie de echilibru în
                      aportul de
                      fibre
                      obținute din fructe, legume și cereale.<br>

                      4. Lichidele sunt mai ușor absorbite de organism atunci când sunt mai reci. Pune o sticlă de
                      0,5L sau 1L
                      de
                      apă în frigider și asigură-te că o bei și reumpli zilnic.<br>

                      5. Nu refuza un pahar de apă atunci când ți se oferă, chiar dacă nu îl bei pe tot.<br>

                      6. Folosește culoarea urinei ca ghid pentru cât ești de hidratat. Dacă aceasta are culoarea
                      galben
                      deschis,
                      înseamnă că bei suficientă apă. Dacă urina are culoarea galben închis, crește aportul de
                      lichide.<br>

                      7. Ţine cu tine mereu o sticlă de apă și bea regulat, între mese.<br>

                      8. Dacă iei medicamente, este recomandat să bei mai multă apă. Rinichii și ficatul au nevoie
                      de mai
                      multă apă
                      pentru procesarea medicamentelor.<br>

                      9. Când faceți exerciții fizice, beți 1-2 căni de apă înainte de antrenament și jumatăte de
                      cană-o cană
                      la
                      fiecare 15 minute în timpul acestuia.<br>

                      10. Bea apă chiar dacă nu îți este sete. Setea este un semn că organismul tău este deja
                      deshidratat.
                      Este bine
                      să bei regulat pe tot parcursul zilei - în timp o să te obișnuiești.</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>





          <div class="container-fluid"></div>


          <div id="faq" role="tablist" aria-multiselectable="true">

            <div class="panel panel-info">
              <div class="panel-heading" role="tab" id="questionSeven">
                <h2 class="panel-title">
                  <a data-toggle="collapse" data-parent="#faq" href="#answerSeven" aria-expanded="false"
                    aria-controls="answerSeven">
                    <fa-icon [icon]="faBed"></fa-icon> CÂTE ORE TREBUIE SĂ DORM?
                  </a>
                </h2>
              </div>
              <div id="answerSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="questionOne">
                <div class="panel-body">
                  <div class="col-md-4">
                    <img src="../assets/odihn.jpg" width="300" height="200">

                  </div>
                  <div class="col-md-8">
                    <div class="card-body">

                      <h3 class="card-text">De câte ore de somn avem nevoie pe zi?<br>
                        Conform informațiilor revizuite și republicate de National Sleep Foundation, durata minimă a
                        somnului
                        zilnic
                        trebuie să fie de 7 ore. Iată numărul de ore pe categorii de vârstă:<br>
                        <br>
                        Nou-născuți (0-3 luni): 14-17 ore/zi (anterior 12-18)<br>
                        Sugari (4-11 luni): 12-15 ore (anterioar 14-15)<br>
                        Copii mici (1-2 ani): 11-14 ore (anterior 12-14)<br>
                        Preșcolari (3-5 ani): 10-13 ore (anterior 11-13)<br>
                        Școlari (6-13 ani): 9-11 ore (anterior 10-11)<br>
                        Adolescenți (14-17): 8-10 ore (anterior 8,5-9,5)<br>
                        Tineri (18-25): 7-9 ore (categorie nou introdusă în studii)<br>
                        Adulți (26-64): 7-9 ore<br>
                        Vârstnici (65+): 7-8 ore (categorie nou introdusă)
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="container-fluid"></div>


            <div id="faq" role="tablist" aria-multiselectable="true">

              <div class="panel panel-danger">
                <div class="panel-heading" role="tab" id="questionEight">
                  <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#faq" href="#answerEight" aria-expanded="false"
                      aria-controls="answerEight">
                      <fa-icon [icon]="faRunning"></fa-icon> CONTEAZĂ POZIȚIA EXERCIȚIILOR?
                    </a>
                  </h2>
                </div>
                <div id="answerEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="questionOne">
                  <div class="panel-body">
                    <div class="col-md-4">
                      <img src="../assets/pozitie.jpg" width="300" height="200">

                    </div>
                    <div class="col-md-8">
                      <div class="card-body">

                        <h3 class="card-text">Un corp armonios și sănătos este dorința fiecărei persoane. Indiferent
                          de motivul
                          pentru
                          care mergeți la sală (scădere în greutate, tonifiere sau eliberarea stresului de peste
                          zi), este bine să
                          vă
                          organizați temeinic pentru a putea beneficia de toate avantajele pe care le oferă o
                          activitate fizică.

                          Prima și cea mai importantă regulă este alegerea corectă a tipului de antrenament. Rata de
                          abandon în
                          rândul
                          celor care merg la sală este mai crescută printre persoanelor care și-au ales greșit tipul
                          de activitate
                          fizică.

                          În acest context, optați pentru un tip de exercițiu (sau mai multe) care vă face plăcere
                          și care poate
                          fi
                          făcut gradat (de la intensitate mică spre cea medie și mare).
                        </h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="container-fluid"></div>


              <div id="faq" role="tablist" aria-multiselectable="true">

                <div class="panel panel-info">
                  <div class="panel-heading" role="tab" id="questionNine">
                    <h2 class="panel-title">
                      <a data-toggle="collapse" data-parent="#faq" href="#answerNine" aria-expanded="false"
                        aria-controls="answerNine">
                        <fa-icon [icon]="faDna"></fa-icon> CARE ESTE ROLUL PROTEINELOR?
                      </a>
                    </h2>
                  </div>
                  <div id="answerNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="questionOne">
                    <div class="panel-body">
                      <div class="col-md-4">
                        <img src="../assets/pr.jpg" width="300" height="200">

                      </div>
                      <div class="col-md-8">
                        <div class="card-body">

                          <h3 class="card-text">Proteinele sunt macronutrienți care, alături de grăsimi și
                            carbohidrați, furnizează
                            organismului necesarul de energie și calorii, însă rolul lor este mult mai complex de
                            atât. Din punct de
                            vedere chimic, ele sunt alcătuite din lanțuri sau polimeri de aminoacizi, care sunt
                            compuși organici din
                            carbon, hidrogen, azot, oxigen și sulf. În organismul uman se regăsesc aproximativ
                            20.000 de proteine
                            unice.
                            Deși în natură există sute de aminoacizi, numai 20 dintre ei sunt necesari pentru
                            crearea tuturor
                            proteinelor
                            din corpul nostru sau al altor forme de viață. Este de menționat că o proteină tipică
                            poate fi formată
                            din
                            aproximativ 300 de aminoacizi și că numărul acestora sau al secvențelor pe care ei le
                            formează sunt
                            unice
                            pentru fiecare proteină.
                          </h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>