<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="col-6 col-md-4">
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h1 class="panel-title" align="center">
        <fa-icon [icon]="faSun"></fa-icon> Orar de vară <fa-icon [icon]="faSun"></fa-icon>
      </h1>
    </div>
    <div class="panel-body" align="center">
      <h2> Luni-Vineri</h2>
      <h3> 8-12; 17-21 </h3>
      <h2>Sâmbătă</h2>
      <h3>10-14</h3>
      <h2>Duminică</h2>
      <h3>închis</h3>
    </div>
  </div>
</div>
<div class="col-6 col-md-4">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h1 class="panel-title" align="center">
        <fa-icon [icon]="faSnowflake"></fa-icon> Orar de iarnă <fa-icon [icon]="faSnowflake"></fa-icon>
      </h1>
    </div>
    <div class="panel-body" align="center">
      <h2> Luni-Vineri</h2>
      <h3> 8-21 </h3>
      <h2>Sâmbătă</h2>
      <h3>10-14</h3>
      <h2>Duminică</h2>
      <h3>închis</h3>
    </div>
  </div>
</div>