
<li *ngFor="let gen of genuri"> {{gen}}
    <!-- <input 
    type="radio"
    name="genClient"
    value="{{gen}}"
    (change)="radioChangeHandler($event)">
    <i>{{gen}}</i> -->
    </li>

    <div class="form-group">
      <label>Gen</label>
      <div class="form-control">
        <label class="radio-inline">
          <input type="radio" value="masculin" name="gen"
          [(ngModel)]="gen">
          Masculin
        </label>
        <label class="radio-inline">
          <input type="radio" value="feminin" name="gen"
          [(ngModel)]="gen">
          Feminin
        </label>
      </div>
    </div>

  

    <label>Greutate</label>
<input 
    type="number" 
    placeholder="greutate in kg"
    name="greutate"
    [(ngModel)]="name1"    
    required
    class="form-control"
    min="0"
    pattern="^[0-9]+\.[0-9][0-9]$"> 
  
<br>

<label>Inaltime</label>
<input
    type="number" 
    placeholder="inlaltime in cm"
    name="inaltime"
    [(ngModel)]="name2"
    required
    class="form-control"
    min="0"
    pattern="^[0-9]+\.[0-9][0-9]$"
    > <br> 

    <label>Varsta  </label>
    <br>
    <select name="demo" id="#">
      <option selected="selected" value="one">Option 1</option>
      <option value="two">Option 2</option>
      <option value="three">Option 3</option>
      </select>
   


   
   <br>   <br>
<button value="Calculeaza" (click)="onCalculeazaIMC()">Calculeaza</button>
<p>IMC-ul tau este: {{imc}}</p>