
<li *ngFor="let gen of genuri"> {{gen}}
    <!-- <input 
    type="radio"
    name="genClient"
    value="{{gen}}"
    (change)="radioChangeHandler($event)">
    <i>{{gen}}</i> -->
    </li>

    <div class="form-group">
      <label>Gen</label>
      <div class="form-control">
        <label class="radio-inline">
          <input type="radio" value="masculin" name="gen"
          [(ngModel)]="gen">
          Masculin
        </label>
        <label class="radio-inline">
          <input type="radio" value="feminin" name="gen"
          [(ngModel)]="gen">
          Feminin
        </label>
      </div>
    </div>

  

<br>

<label>Inaltime</label>
<input
    type="number" 
    placeholder="inlaltime in cm"
    name="inaltime"
    [(ngModel)]="inaltime"
    required
    class="form-control"
    min="0"
    pattern="^[0-9]+\.[0-9][0-9]$"
    > <br> 

    <label>Varsta  </label>
    <input
    type="number" 
    placeholder="varsta in ani"
    name="varsta"
    [(ngModel)]="varsta"
    required
    class="form-control"
    min="0"
    pattern="^[0-9]+\.[0-9][0-9]$"
    >   
   


   
   <br>   <br>
<button 
  type="button" 
  value="Calculeaza" 
  class="btn btn-outline-success" 
  (click)="onCalculeazaIMC()"
  >Calculeaza
</button>
<p>Greutatea ideala este: {{imc}} kg</p>