
  <div class="col-6 col-md-4">
    <h2>Alege varianta potrivită pentru tine</h2>
    <ul class="heroes">
      <li *ngFor="let hero of heroes"
        [class.selected]="hero === selectedHero"
        (click)="onSelect(hero)">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
      </li>
    </ul>
    
</div>
<div class="col-6 col-md-4">
<div *ngIf="selectedHero">

  <h2>{{selectedHero.name}}</h2>
  <div><span><b>Pret: </b> </span>{{selectedHero.pret}}</div>
  <div><span><b>Detalii: </b> </span>{{selectedHero.descriere}}</div>

</div>
</div>