<div class="container">
    <div class="row">
      <div class="col-md-3">

      </div>
      <div class="col-md-3">
        <ul>Nume</ul>
        <ul>Prenume</ul>
        <ul>Sex</ul>
        <ul>An nastere</ul>
        <ul>Adresa</ul>
        <ul>Email</ul>
      </div>
      <div class="col-md-3">
        <ul>Filip</ul>
        <ul>Gabriel</ul>
        <ul>Masculin</ul>
        <ul>1993</ul>
        <ul>str. Sesul de sus nr.186G</ul>
        <ul>gabf48@gmail.com</ul>
    </div>
      <div class="col-md-3"></div>
    </div>
  </div>